html{
    background: url('./background.jpg'); 
    color:#ffc600;
    
}

body,html{
    overflow: hidden;
    margin:0;
    font-family: sans-serif;
    padding: 0;
}
h1{
    text-align: center;
    background-color: rgba(19, 19, 19, 0.685);
    font-size: 4rem;
    border-bottom: solid 4px #ffc600;
    margin: 0;
}
.keys{
    
    display: flex;

    flex: 1;
    min-height: 90vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    border-top: solid 4px #000000;
    background-color: #2802ff33;
    
    
}

.key{
    text-transform: uppercase;
    border: solid 4px black;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    transition: all 0.2s ease;
    margin: 1.5rem;
    width: 5rem;
    padding: 1.5rem 1.5rem;
    font-size: large;
    background-color: rgba(19, 19, 19, 0.685);
   
}

kbd {
    display: block;
    font-size: 3rem;
  }

.playing{
    transform: scale(1.2);
    border-color: #ffc600;
    color: white;
    box-shadow: 0 0 2rem #ffc600;
}